
        body {
            background-color: rgb(252, 171, 16)
        }

        h1,
        h2 {
            font-size: 45px;
            font-weight: 900;
            font-family: 'Anton', sans-serif;
            color: rgb(22, 16, 50)
        }

        .button {
            background-color: rgb(22, 16, 50);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50px
        }

        h1,
        h2 {
            text-align: center;
        }

        #img-align {
            text-align: center;
        }
